<html>
    <head>
       {{ content_for_header }}
       {{ "theme.css" |  asset_url |  stylesheet_tag }}
       {{ "application.css" |  asset_url | stylesheet_tag }}
    </head>
    <body class="template-{{ template }}">
        
        {% section 'cart-link' %}
        <main id="main" role="main">
            {{ content_for_layout }}
        </main>
    </body>
</html>