<h1>
    Cart
    <span class="cart-item-cart">
        {{ cart.item_count }}
    </span>
</h1>
{% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
        <table>
            <thead>
                <th colspan="2">Order Summary</th>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>                     
                        <td>
                {% if item.quantity > 1 %}{{ item.quantity }}x {% endif %}
                            {{ item.product.title }}  &ndash; {{ item.variant.title }}  
                        </td>
                        <td>
                                {{ item.original_line_price | money_without_trailing_zeros }}
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">X</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="cart-totals">
            <tbody>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr> 
                    <td>Subtotal</td>
                    <td>{{ cart.total_price | money_without_trailing_zeros }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            
           
            <button type="submit" name="checkout">Checkout</button>
        </div>
    </form>
    {% else %}

    Cart if empty
{% endif %}

{% schema %}
    {
        "name": "cart",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "#F4F4F4"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "#000"
            }
        ],
        "presets": [
            {
                "name": "cart"
            }
        ]
    }
    {% endschema %}