<h1>Cart</h1>
{% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
        <table>
            <thead>
                <th colspan="2">Prod</th>
                <th>Price</th>
                <th>Total</th>
            </thead>
            <tbody>
                {% for item in cart.items %}
                    <tr>
                        <td>
                            <a href="{{ item.url |  within: collections.all }}">
                                <img width="400" height="300" src="{{ item | image_url }}" alt="{{ item.title | escape }}">
                            </a>
                        </td>
                        <td>
                            <a href="{{ item.url }}">{{ item.product.title }}</a>
                            {{ item.variant.title }}
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
                        </td>
                        <td>{{ item.price | money }}</td>
                        <td>
                                {{ item.original_line_price | money_without_trailing_zeros }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <p>sub total : {{ cart.total_price | money }}</p>
            <button type="submit" name="update">Update</button>
            <button type="submit" name="checkout">Checkout</button>
        </div>
    </form>
    {% else %}

    Cart if empty
{% endif %}

{% schema %}
    {
        "name": "cart",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "#F4F4F4"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text",
                "default": "#000"
            }
        ],
        "presets": [
            {
                "name": "cart"
            }
        ]
    }
    {% endschema %}