

{% comment %} 
{% for product in collections.frontpage.products limit: 4 %}
    <div>
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        {{ product.price | money }}
        {% unless product.available %}<br><strong>Sold Out</strong>{% endunless %}
        <a href="{{ product.url |  within: collection }}">
            <img width="400" height="300" src="{{ product.featured_image.src |  image_url }}" alt="{{ product.featured_image.alt |  escape }}" />
        </a>
    </div>
{% endfor %} {% endcomment %}

{% assign mainProduct = all_products['fitra-activity-band'] %}

{{ mainProduct.title }}
{{ mainProduct.description }}
<br>
{% for image in mainProduct.images %}
    <img width="400" height="300" src="{{ image | image_url }}" alt="{{ image.alt | escape }}" />
{% endfor %}

<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <select name="id" id="productSelect">
        {% for variant in mainProduct.variants %}
            {% if variant.available %}
                <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price |  money_with_currency }}
                </option>
                {% else %}
                    <option disabled="disabled">
                        {{ variant.title }} - sold out
                    </option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="Quantity">Quantity</label>
    <input type="number" id="Quantity" value="1" min="1">
    <button type="submit" name="add" id="AddToCart">Add to Cart</button>
</form>

{% schema %}
    {
        "name": "Main Product",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background Color",
                "default": "#F4F4F4"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#000"
            }
        ],
        "presets": [
            {
                "name": "Main Product",
                "category": "Product"
            }
        ]
    }
    {% endschema %}
    
    